  body {
        background-color: #ffffff;
        color: #666666;
        font-family: Verdana, Arial, sans-serif;
    }

    header {
        background: color #003058;
        color: #ffffff;
        font-family: Georgia, serif;
    }

    h1 (
        line-height: 1

